@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC EF Participation</h1>
    <p class="lead">This was created by Madison McGinnis, using resources found on the Canvas webpage for help</p>
    <p><a href="https://canvas.ou.edu" class="btn btn-primary btn-lg">Canvas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There is a dropdown menu option at the top to navigate between the Student, Course, and Registration tabs.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Data Information</h2>
        <p>
            This data was pulled from the practice SQL Database, using only 3 of the tables. Specifically, I used the Student, Course, and Registration tables.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Struggles</h2>
        <p>
            I struggled with changing the nav bar to look better, and I struggled with figuring out how to make the webpage more presentable.
            Specifically, I couldn't figure out how to adjust the card length so that they would fit the screen size. I also didn't know how make
            the cards farther apart with better style. Hopefully, however, that there is enough here to show I have some basic knowledge of MVC.
        </p>
    </div>
</div>